MANIFEST.in export-ignore
budoux/*.py export-ignore
budoux/py.typed export-ignore
data/ export-ignore
demo/  export-ignore
example.* export-ignore
java/ export-ignore
javascript/ export-ignore
php/tests export-ignore
phpunit.xml.dist export-ignore
pyproject.toml export-ignore
scripts/ export-ignore
setup.* export-ignore
tests/ export-ignore
